/***** THEME */

// Structure
#header {
  color: #fff;
  background: #603461;
  font-size: 13px;
  font-family: $font_header;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  h1 a,
  nav a {
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    margin: 0;
    font-weight: 600;
    display: block;
  }
  h1 a {
    font-size: 20px;
    letter-spacing: 6px;
    color: #fff;
  }
  nav a {
    font-size: 13px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, .9);
  }
  .action {
    border: 2px solid #fff;
    border-radius: 20px;
  }
}

#main {
  width: auto;
  margin: 0 auto;
  max-width: 1020px;
  padding: 96px 32px;
}

#footer {
  color: #fff;
  background: #603461;
}