/***** THEME */

// Structure
#header {
  color: $color_header;
  background: $background_header;;

  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  * {
    margin: 0;
    padding: 0;
  }

  .show, .hide {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    @include bp('s-') {
      position: fixed;
      top: 0;
      right: 0;
      width: 250px;
      flex-direction: column;
    }
  }

  h1 a,
  nav a,
  .show,
  .hide {
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    margin: 0;
    font-weight: 600;
    font-family: $font_header;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    color: $color_header;
  }

  h1 a {
    font-size: 20px;
    letter-spacing: 6px;
    color: #fff;
  }

  nav a {
    &:hover {
      color: #fff;
    }
    &.action > * {
      display: block;
      padding: 0 20px;
      border: 2px solid $color_header;
      border-radius: 22px;
      &:hover {
        color: $background_header;
        background: $color_header;
      }
    }
    @include bp('m') {
      &.home {
        display: none;
      }
    }
    @include bp('s-') {
      &:not(.action) {
        line-height: 30px;
      }
    }
  }
}

// Mobile nav
@include bp('s-') {
  #menu:not(:target) {
    transition: all 1s ease-in-out;
    .show {
      display: block;
    }
  }
  #menu:target {
    margin: 0 250px 0 -250px;
    transition: all 1s ease-in-out;
    pointer-events: none;
    .hide {
      display: block;
    }
    nav {
      z-index: -1;
    }
    #header {
      ponter-events: all;
    }
  }
}

#main {
  width: auto;
  margin: 0 auto;
  max-width: 1020px;
  padding: 96px 32px;
}

#footer {
  color: $color_header;
  background: $background_header;

  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  a {
    padding: 20px 10px;
  }
}