/***** THEME */

// Structure
#header {
  color: $color_header;
  background: $background_header;;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  * {
    margin: 0;
    padding: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  h1 a,
  nav a {
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    margin: 0;
    font-weight: 600;
    font-family: $font_header;
    display: block;
  }

  h1 a {
    font-size: 20px;
    letter-spacing: 6px;
    color: #fff;
  }

  nav a {
    font-size: 13px;
    letter-spacing: 1px;
    color: $color_header;
    &:hover {
      color: #fff;
    }
  }

  .action {
    display: block;
    padding: 0 20px;
    border: 2px solid $color_header;
    border-radius: 22px;
    &:hover {
      color: $background_header;
      background: $color_header;
    }
  }
}

#main {
  width: auto;
  margin: 0 auto;
  max-width: 1020px;
  padding: 96px 32px;
}

#footer {
  color: $color_header;
  background: $background_header;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}