---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  {% include meta.html %}
</head>
<body class="page-{{ page.title | slugify }}">

  <header id="header">
    <h1><a href="{{ site.baseurl }}/" title="{{ site.description | strip_html }}">{{ site.name }}</a></h1>
    <nav>
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/starter-pack/">Starter Pack</a>
      <a href="{{ site.baseurl }}/blog/">Blog</a>
      <a href="{{ site.baseurl }}/get-involved/">Get Involved</a>
      <a href="{{ site.baseurl }}/documentation/">Documentation</a>
      <a href="{{ site.baseurl }}/donate/">Donate</a>
      <a href="{{ site.baseurl }}/download/"><span class="action">Download</span></a>
    </nav>
  </header>

  <main id="main">
    {{ content }}
  </main>

  <footer id="footer">
    {% include svg-icons.html %}
  </footer>

  {% include analytics-google.html %}
  {% include analytics-piwik.html %}
</body>
</html>